@font-face{
    font-family: TTCommons;
    src: url(tt-commons/TT\ Commons\ Medium.otf);
}


@font-face{
    font-family: LTTCommons;
    src: url(tt-commons/TT\ Commons\ Light.otf);
}


:root{
    --pad: 100px;
    --b: #060606;
    --g: #2dbe5f;
    --w: #ffffff;
    --lgray: #ACADAA;
}   

*{
    margin: 0px;
    padding: 0px;
    font-family: TTCommons;
    list-style: none;
    text-decoration: none;
}
html, body{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 4rem;
    background-color: var(--lg); 
    display: flex;
    border-bottom: 1px solid var(--lgray) ;
    justify-content: center;
    align-items: center;
}

nav .logo{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

nav .logo p{    
    margin-left: 10px;
}

.logo img{
    width: 50px;
    margin: 0px 0px 0px var(--pad)
}

nav .nav-btns {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

nav .nav-btns li, nav .nav-btns li a{
    color: var(--lgray);
}

nav .nav-btns li a:hover{
    color: var(--b);
}

nav .log-btns{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0px 50px 0px 0px;
}

nav .log-btns .log-btn{
    margin: 0px 0px 0px 10px;
}

nav .log-btns .log-btn a{
    color: var(--b);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .log-btns .sign-up, nav .log-btns .log-btn{
    height: 35px;
    width: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .log-btns .sign-up{
    border: 2px solid black;
}

/* Hero Section Styling */

.hero-section{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 700px;
}

.hero-member-section{
    display: flex;
}

.hero-section-btns ul{
    display: flex;
    height: 50px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.hero-section-btns ul li{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-btns ul li:nth-child(1){
    background-color: var(--b);
    border-radius: 10px;
}

.hero-section-btns ul li:nth-child(1) a{
    color: var(--w);
}

.hero-text-section, .hero-member-section, .hero-section-btns {
    margin: 0px var(--pad) 20px var(--pad);
}

.hero-text-section{
    width: 600px;
}

.hero-text-section h1{
    font-size: 70px;
    margin: 0px 0px 20px 0px;
    display: inline;
}

.hero-text-section h1 img{
    width: 50px;
    height: 50px;
}

.hero-text-section p{
    font-size: 20px;
    max-width: 400px;
    color: var(--lgray);
}

.hero-member-section{
    max-width: 200px;
    height: 50px;
    display: flex;
}


.hero-member-section .member{
    height: 100%;
    width: 100%;
}

.hero-section-btns ul li:nth-child(2) a{
    color: var(--b);
    display: flex;
}

.hero-section-btns ul li:nth-child(2) a .svg-section{
    border: 1px solid gray;
    width: 20px;
    margin: 0px 10px 0px 0px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.hero-section-btns ul li:nth-child(2) a .svg-section svg{
    width: 10px;
    color: var(--lg);    
}

/* App-Try-Trial-Section */

.app-try-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.app-try-section .app-try-logo-section{
    display: flex;
    margin: 40px var(--pad) 0px var(--pad);
    justify-content: space-evenly;
}

.app-try-section .app-try-logo-section img {
    height: 40px;
}

.app-try-section .app-try-text-section{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px var(--pad) 0px var(--pad);
    height: 90%;
}

.app-try-section .app-try-text-section .app-try-free-section{
    flex: 1;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.app-try-section .app-try-text-section .app-try-free-section h1{
    margin: 0px 0px 0px 50px;
}

.app-try-section .app-try-text-section .app-try-tial-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.app-try-section .app-try-text-section .app-try-tial-section p:nth-child(2){
    width: 370px;
    margin: 30px 0px 30px 0px;
    font-family: LTTCommons;
    word-spacing: 3px;
}

.app-try-section .app-try-text-section .app-try-tial-section .app-try-trial-btns-section{
    display: flex;
}

.app-try-section .app-try-text-section .app-try-tial-section .app-try-trial-btns-section .btn{
    background-color: var(--w);
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
}

.app-try-section .app-try-text-section .app-try-tial-section .app-try-trial-btns-section .btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 5px;
}

.app-try-section .app-try-text-section .app-try-tial-section .app-try-trial-btns-section .btn img{
    height: 40px;
    margin: 0px 10px 0px 0px;
}

.app-try-section .app-try-text-section .app-try-tial-section .app-try-trial-btns-section .btn a div h2, .app-try-section .app-try-text-section .app-try-tial-section .app-try-trial-btns-section .btn a div p{
    color: black;
}
 /* Easy Way Text Section CSS */
.easy-way-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.easy-way-margin-section{
    height: 100%;
    width: 100%;
    margin: 0px var(--pad) 0px var(--pad);
    display: flex;
}

.easy-way-image-section{
    flex: 1;
    background-image: url(bg3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.easy-way-text-section{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.easy-way-text-section h1{
    font-size: 3.75rem;
}

.easy-way-text-section p{
    font-size: 1.5rem;
    color: var(--lgray);
    margin: 20px 0px 20px 0px;
}

.easy-way-text-section a{
    color: var(--g);
    font-size: 1.3rem;
}

/* Footer Section */
footer{
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: #0A061A;
}

.footer-section {
    width: 100%;
    display: flex;
    margin: 150px var(--pad);
}

.footer-section .service-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 10px 0px 10px;
}

.footer-section .service-section:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-section .service-section:nth-child(1) img{
    margin: 0px;
}

.footer-section .service-section:nth-child(1) p{
    font-weight: normal;
}

.footer-section .service-section p{
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    color: white;
}

.footer-section .service-section ul li a{
    color: white;
    font-family: LTTCommons;
}

.footer-section .service-section ul li{
    margin: 5px 0px 0px 0px;
}

.footer-logo{
    display: flex;
}

.footer-logo .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo .logo p{
    margin: 0px 0px 0px 10px;
}

.footer-email {
    color: white;
    text-decoration: dotted;
}

/* Copyright Section Stylesheet */
.copyright-section{
    font-weight: lighter;
    color: white;
    width: 100%;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060606;
}